.home {
  margin: 0;
  width: 100%;
  height: 100%;

  .homeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;

    .homeBackgroundImage {
      width: 100%;
      height: 100%;
    }
  }

  .homeContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}